wheel
aiohttp
asyncio
async_lru
bumpversion
changelog-cli
coverage
flake8
flake8-colors
flake8-docstrings
flask
inflection
netifaces
setuptools
twine
prometheus-client
pytest
pytest-replay
pytest-vcr
pytest-xdist
PyYAML
